.success-message {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;

    background: #0E0A14;
    opacity: 0.95;
    align-items: center;
    text-align: center;
}

.success-message span {
    position: absolute;
    width: 324px;
    height: 130px;
    left: 558px;
    top: 345px;
}

.success-message span p {
    font-size: 30px;
    color: #FFF;
    font-weight: bold;
    font-family: Ubuntu;
}