.headwer {
    display: flex;
    padding: 30px 60px;
    justify-content: space-between;
    position:fixed;
    z-index:999;
    left:0%;
    right: 0%;
    top:0;
    overflow:hidden;
    background: #E5E5E5;
    height: 300px;
}

.headwer span p {
    margin-top: 40px;
}

.headwer a {
    text-decoration: none;
    display: flex;
    color: #322153;
    font-size: 16px;
    font-family: Ubuntu;
    
}

.headwer a svg {
    margin-right: 20px;
}

.headwer a:hover {
    opacity: 0.5;
}

.principal {
    margin-top: 100px;
    background: #FFF;
    width: max-content;
    
}

.principal .content {
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    position: static;
    background: #FFF;
    height: 653px;
}

.principal .content .points-container {
    margin: 20px;
    border-radius: 8px;
    background: #FFF;
    z-index: 1000;

}

.principal .content .points-container .city-uf {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C80;
    
}

.principal .content img {
    width: 400px;
    height: 300px;
    border-radius: 8px 8px 0px 0px;
}

.principal .content .points-container  p {
    font-size: 36px;
    color: #322153;
    font-weight: bold;
    padding: 10px;
}

.principal .content .points-container  .items {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #34CB79;
}